.blog-wrapper {
    display: flex;
    flex-direction: column;
    height: 110vh;
    width: 100vw;
    padding-left: 13%;
    padding-right: 5%;
    margin-bottom: 15rem;
    justify-content: center;
    align-content: center;
    align-items: flex-start;
    font-family: var(--font-family-josefin);
}

.blog-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    gap: 1rem;
    padding: 3rem;
    height: 100%;
    width: 100%;
}

/***************************/
/* ---- Blog Featured ---- */
/***************************/
.blog-featured-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    gap: 1rem;
    height: 100%;
    width: 70%;
}

.blog-featured {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    width: 100%;
    padding: 2rem;
    border-radius: 1.5rem;
    background-color: var(--bg-element-1);
}

.featured-header {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 2rem;
}

.blog-featured-title {
    color: var(--font-color-0);
    font-size: var(--font-size-5xl);
    border-bottom: 3px solid var(--font-color-0);
}

.blog-featured-content {

}

/**************************/
/* ---- Blog Recents ---- */
/**************************/
.blog-preview-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: flex-start;
    height: 100%;
    width: 100%;
}

.blog-recents {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 2rem;
    border-radius: 1.5rem;
    background-color: var(--bg-element-1);
}

/**************************/
/* ---- Blog Preview ---- */
/**************************/
.blog-preview-wrapper {

}

.blog-preview {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 2rem;
    border-radius: 1.5rem;
    background-color: var(--bg-element-1);
}