.landing-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  padding-left: 13%;
  padding-right: 5%;
  margin-bottom: 15rem;
  justify-content: center;
  align-content: center;
  font-family: var(--font-family-josefin);
  font-weight: var(--font-weight-regular);
}
.prod-subtext {
  padding-top: 0.5rem;
  color: rgb(150, 0, 0);
}
.landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.lt-text-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  -webkit-animation: tracking-in-contract 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both 0.8s;
  animation: tracking-in-contract 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both 0.8s;
}   
    .lt1-container {
      padding-right: 1.5em;
    }
    .lt-header {
      color: var(--font-color-0);
      font-size: var(--font-size-9xl);
      font-weight: var(--font-weight-regular);
      -webkit-animation: tracking-in-contract 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
      animation: tracking-in-contract 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    }
    .lt1-text, .lt2-text {
      font-size: var(--font-size-10xl);
      font-weight: var(--font-weight-medium);
      color: var(--font-color-0);
      margin-bottom: 0.5rem;
    }

    #lt2-J {
      text-shadow: -1px 0 #00b159, -2px 0 #00b159, -3px 0 #00b159, -4px 0 #00b159, -5px 0 #00b159, -6px 0 #00b159, -7px 0 #00b159, -8px 0 #00b159;
    }
    @-webkit-keyframes tracking-in-contract {
        0% {
          letter-spacing: 0.5em;
          opacity: 0;
        }
        40% {
          opacity: 0.6;
        }
        100% {
          letter-spacing: normal;
          opacity: 1;
        }
      }
      @keyframes tracking-in-contract {
        0% {
          letter-spacing: 0.5em;
          opacity: 0;
        }
        40% {
          opacity: 0.6;
        }
        100% {
          letter-spacing: normal;
          opacity: 1;
        }
      }
      
      @-webkit-keyframes text-focus-in {
        0% {
          -webkit-filter: blur(5px);
                  filter: blur(5px);
          opacity: 0;
        }
        100% {
          -webkit-filter: blur(0px);
                  filter: blur(0px);
          opacity: 1;
        }
      }
      @keyframes text-focus-in {
        0% {
          -webkit-filter: blur(5px);
                  filter: blur(5px);
          opacity: 0;
        }
        100% {
          -webkit-filter: blur(0px);
                  filter: blur(0px);
          opacity: 1;
        }
      }
.landing-subheader {
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-regular);
  color: var(--font-color-4);
  margin-bottom: 2rem;
}

.landing-btn {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

