.projects-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    height: 135vh;
    width: 100vw;
    padding-left: 13%;
    padding-right: 5%;
    margin-bottom: 15rem;
    font-family: var(--font-family-josefin);
}

.projects-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 3rem;
}

.project-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 3rem;
}

.project-heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    gap: 2rem;
    height: 85%;
    width: 100%;
}

.project-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    height: 100%;
    width: 40%;
    padding: 2rem;
    border-radius: 1.5rem;
    background-color: var(--bg-element-1);
}

.project-title {
    display: flex;
    align-content: center;
    justify-content: flex-start;
    align-items: flex-start;
    height: 35%;
    width: 100%;
}

.items-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    border: 1px solid #fff;
}


.p-title {
    color: var(--font-color-0);
    font-size: var(--font-size-5xl);
    border-bottom: 3px solid var(--font-color-0);
}

.data-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.project-description {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    align-items: flex-start;
    height: 100%;
    width: 60%;
    padding: 2rem;
    border-radius: 1.5rem;
    background-color: var(--bg-element-1)
}

.project-data {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    align-items: flex-start;
    height: 25rem;
    width: 100%;
    border-bottom: 1px solid var(--font-color-0);
}
/* -- Preview -- */
.project-preview {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    padding-top: 2rem;
    height: 100%;
    width: 100%;
}

.preview-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 2rem;
    border-radius: 1.5rem;
    background-color: var(--bg-element-1);
}

.preview-header {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 2rem;
}

.preview-title {
    color: var(--font-color-0);
    font-size: var(--font-size-5xl);
    border-bottom: 3px solid var(--font-color-0);
}

.preview-sidebar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    width: 3.5rem;
    border-left: 1px solid var(--font-color-0);
    border-bottom: 1px solid var(--font-color-0);
    background-color: #151515;
    background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23ffffff' fill-opacity='0.35' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E") ;
}
