.projects-wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    padding-left: 13%;
    padding-right: 5%;
    margin-bottom: 15rem;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
}
#project-P {
    text-shadow: -1px 0 #00b159, -2px 0 #00b159, -3px 0 #00b159, -3px 0 #00b159, -4px 0 #00b159, -5px 0 #00b159, -6px 0 #00b159, -7px 0 #00b159;
}
.projects-header {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: auto;
    width: 100%;
    color: #fff;
    font-size: 4rem;
    padding-bottom: 0.5rem;
    border-bottom: solid #fff;
}
    .projects-header::before {
        content: "Projects";
        font-size: 20rem;
        font-family: Roboto, sans-serif;
        color: rgba(255, 255, 255, 0.03);
        font-weight: 100;
        position: absolute;
        background: inherit;
        z-index: 0;
        top: -90%;
        left: 0;
        right: 0;
        bottom: 0;
    }

.projects-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 70%;
    width: 100%;
    padding-top: 2rem;
}

/**********************/
/* Project List Items */
/**********************/
.project-list {
    display: flex;
    height: 100%;
    width: 40%;
    gap: 2rem;
    border-left: 1px solid rgba(211,211,211,1);
    justify-content: flex-start;
    align-content: center;
    align-items: center;
}

.project-item-container {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 100%;
}

.project-item {
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 6rem;
}
.project-item-name {
    text-decoration: underline;
    padding-bottom: 0.5rem;
}

.project-items {
    cursor: pointer;
}

.project-item-wrapper {
    padding-left: 1rem;
    width: 65%;
}
.project-item-image {
    padding-right: 1rem;
}

.project-preview {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 100%;
    width: 45%;
}
.project-item-description {
    color: rgb(200, 200, 200);
}

#project1 {
    background-color: rgba(40,57,40,1);
    border-top: 2px solid rgba(211,211,211,1);
    border-bottom: 2px solid rgba(211,211,211,1);
}
#project2, #project3, #project4 {
    background: linear-gradient(to right, 
    rgba(175, 175, 175, 0.3), 
    rgba(150, 150, 150, 0.2),
    rgba(50, 50, 50, 0.1));
}

/***********************/
/*    Project Image    */
/***********************/
.project-preview-image {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    padding: 1rem;
    width: 100%;
    height: 100%;
    border-right: 1px solid rgba(211,211,211,1);
}
.preview-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.55);
}

.project-link-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 3rem;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 1rem;
    padding-top: 1rem;
    font-size: 1.5rem;
}
.project-link {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    align-content: center;
    position: relative;
    z-index: 2;
    padding: 0.5rem;
    padding-left: 1.3rem;
    width: 30%;
    border: 1px solid #fff;
    background-color:hsl(159, 100%, 52%, 0.2);
    color: #fff;
    transition: all 0.125s ease-in-out;
}
    .project-link:hover {
        color: #000;
    }
    
.visit-site {
    background: url(../../public/media/icons/web-media/external-link.svg) no-repeat left;
    background-size: contain;
}
    .visit-site:hover {
        background: url(../../public/media/icons/web-media/external-link-black.svg) no-repeat left;
        background-size: contain;
        background-color: hsl(159, 100%, 52%);
        border-color: hsl(159, 100%, 52%);
    }
.view-code  {
    background: url(../../public/media/icons/tech-branding/github.svg) no-repeat left;
    background-size: contain;
}
    .view-code:hover {
        background: url(../../public/media/icons/tech-branding/github-black.svg) no-repeat left;
        background-size: contain;
        background-color: hsl(159, 100%, 52%);
        border-color: hsl(159, 100%, 52%);
    }