.projects-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    padding-left: 13%;
    padding-right: 5%;
    margin-bottom: 15rem;
    font-family: var(--font-family-josefin);
}
#project-P {
    text-shadow: -1px 0 #00b159, -2px 0 #00b159, -3px 0 #00b159, -3px 0 #00b159, -4px 0 #00b159, -5px 0 #00b159, -6px 0 #00b159, -7px 0 #00b159;
}
.projects-header {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: auto;
    width: 100%;
    color: #fff;
    font-size: 4rem;
    padding-bottom: 0.5rem;
    border-bottom: solid #fff;
}
    .projects-header::before {
        content: "Projects";
        font-size: 20rem;
        font-family: var(--font-family-roboto);
        font-weight: var(--font-weight-extrathin);
        opacity: 0.05;
        position: absolute;
        background: inherit;
        z-index: 0;
        top: -90%;
        left: 0;
        right: 0;
        bottom: 0;
    }

