.blog-page-wrapper {
    height: 100vh;
    width: 100%; 
}

.blog-landing-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.blog-landing {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    padding: 5rem 5rem 0 5rem;
    border-bottom: 2px solid rgb(125, 125, 125);
}

.blog-hero-container{
    display: flex;
    flex-direction: column;
    height: 85%;
    width: 100%;
}

.blog-landing-header{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 30%;
    width: 100%;
    border-bottom: 1px solid #fff;
}

.blog-landing-hero {
    font-size: 10rem;
    font-weight: 100;
    color: #fff;
}

.landing-filters {
    display: flex;
    height: 60%;
    width: 100%;
    font-size: 2rem;
    font-weight: 200;
    color: #fff;
    justify-content: center;
    align-items: center;
}

.filters {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20rem;
}

.filter-header {
    cursor: pointer;
}
    .fh-active {
        border-bottom: 2px solid #fff;
    }
    .fh-inactive {
        color: rgb(125, 125, 125);
        border-bottom: 2px solid transparent;
    }

/******************/
/* Dropdown Items */
/******************/

#category-active {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #000;
    font-family: Roboto, sans-serif;
    font-size: 1.2rem;
    gap: 1rem;
    padding: 1rem;
    position: absolute;
    width: 20%;
    height: 25%;
    left: 50%;
    right: 50%;
    transform: translate(1%);
  }
  
#tags-active {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #000;
    font-size: 1.5rem;
    gap: 1rem;
    padding: 1rem;
    position: absolute;
  }
  

/*******************/
/* Blog Search Bar */
/*******************/

.blog-searchbar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchbar {
    display: flex;
    height: 5rem;
    width: 75%;
    background-color: transparent;
    background: url(../../public/media/icons/search.svg) no-repeat left;
    background-size: contain 90%;
    border: 0;
    border-bottom: 2px solid #fff;
    font-size: 2rem;
}
.searchbar[type="text"] {
    color: #fff;
    font-size: 2rem;
    font-weight: 200;
    padding-left: 5rem;
}

