.blog-page-wrapper {
    height: 100vh;
    width: 100%; 
}

.blog-landing-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.blog-landing {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    padding: 5rem 5rem 0 5rem;
    border-bottom: 2px solid rgb(125, 125, 125);
}

.blog-hero-container{
    display: flex;
    flex-direction: column;
    height: 85%;
    width: 100%;
}

.blog-landing-header{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 30%;
    width: 100%;
    border-bottom: 1px solid #fff;
}

.blog-landing-hero {
    font-size: 10rem;
    font-weight: 100;
    color: #fff;
}

.landing-filters {
    display: inline-flex;
    height: 60%;
    width: 100%;
    font-size: 2rem;
    font-weight: 200;
    color: #fff;
    justify-content: center;
    align-items: center;
}

.filters {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20rem;
}

.filter-header {
    cursor: pointer;
}
    .fh-active {
        border-bottom: 2px solid #fff;
    }
    .fh-inactive {
        color: rgb(125, 125, 125);
        border-bottom: 2px solid transparent;
    }

/******************/
/* Dropdown Items */
/******************/
.filter-dropdown-category {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    position: relative;
}

.filter-dropdown-tags  {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    position: relative;
}

.filter-dropdown-item {
    display: inline-block;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 1rem;
    font-size: 1rem;
    font-weight: 200;
    color: #fff;
    cursor: pointer;
    padding: 1rem;
}

#category-active {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #000;
    font-family: Roboto, sans-serif;
    font-size: 1.2rem;
    padding: 1rem;
    width: 25rem;
    height: 15rem;
    position: absolute;
    top: 100%;
    animation: fade-in 0.175s ease-in-out;
}

#tags-active {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #000;
    font-family: Roboto, sans-serif;
    font-size: 1.2rem;
    padding: 1rem;
    width: 25rem;
    height: 15rem;
    position: absolute;
    top: 100%;
    animation: fade-in 0.175s ease-in-out;
}
@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/****************/
/* Tags Styling */
/****************/

#tag1 {
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 0.5rem;
    transition: all 0.2s ease-in-out;
}
    #tag1:hover {
        background-color: rgb(0, 234, 255);
        color: #000;
    }

/*******************/
/* Blog Search Bar */
/*******************/

.blog-searchbar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchbar {
    display: flex;
    height: 5rem;
    width: 75%;
    background-color: transparent;
    background: url(../../public/media/icons/search.svg) no-repeat left;
    background-size: contain 90%;
    border: 0;
    border-bottom: 2px solid #fff;
    font-size: 2rem;
}
.searchbar[type="text"] {
    color: #fff;
    font-size: 2rem;
    font-weight: 200;
    padding-left: 5rem;
}

