.blog-sidebar-wrapper{
    display: flex;
    position: fixed;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 20%;
    height: 100%;
}
.blog-sidebar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    padding: 1rem;
    background-color: rgb(24, 24, 24);
}
    .blog-sidebar-title {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 10rem;
        background-color: transparent;
        border-bottom: 2px solid #fff;
        gap: 1rem;        
    }

.blog-logo-image {
    object-fit: contain;
    height: 100%;
    width: fit-content;
}

.blog-sidebar-title-text {
    font-size: 2.3rem;
}

.sidebar-content-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 1.5rem;
    margin-top: 0.5rem;
}

.sidebar-recent-posts, 
.sidebar-categories ,
.sidebar-tags {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    padding: 1rem;
    margin-top: 1rem;
    background-color: transparent;
    border-bottom: 2px solid rgb(182, 182, 182);
}

.sidebar-title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    border-bottom: 2px solid #fff;
    
}