
.aboutme-wrapper {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
    padding-left: 13%;
    padding-right: 5%;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.aboutme {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 70%;
    width: 50%;
}


.about-visible {
    display: flex;
    border-bottom: solid;
    width: fit-content;
    transition: opacity 0.5s ease-in-out;
    -webkit-animation: tracking-in-contract 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both 0.5s;
    animation: tracking-in-contract 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both 0.5s;
}
    .a-header {
        color: #fff;
        font-size: 2.5rem;
    }
    .about-text-wrapper {
        padding-left: 1rem;
        font-size: 5rem;
    }
    .dev-D {
        text-shadow: -1px 0 #00b159, -2px 0 #00b159, -3px 0 #00b159, -3px 0 #00b159, -4px 0 #00b159, -5px 0 #00b159, -6px 0 #00b159, -7px 0 #00b159;
    }

.aboutme-caption {
    display: flex;
}
.aboutme-caption-text {
    font-family: playfair display;
    font-size: 1.5rem;
    color: #fff;
    padding-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-weight: 100;
}

/* -- Toolkit -- */
.toolkit {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 70%;
    width: 50%;
}

.toolkit-container {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
    border: 2px solid #fff;
}
    .toolkit-container::before {
        content: "";
        position: absolute;
        background: inherit;
        z-index: 1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        box-shadow: inset 0 0 25px rgb(255 255 255 / 50%);
        background-color: #ffffff05;
    }

.toolkit-header {
    display: flex;
    width: auto;
    height: auto;
    justify-content: center;
    align-items: center;
    z-index: 2;
    padding-top: 5rem;
    font-size: 3rem;
    color: #fff;
    -webkit-animation: tracking-in-contract 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    animation: tracking-in-contract 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

/* -- Slideshow -- */
.slideshow-options-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    z-index: 2;
    height: fit-content;
    gap: 5rem;
    padding-top: 1rem;
}

.slideshow-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: fit-content;
    flex-direction: column;
    padding-top: 1.5rem;
}

.slideshow-category{
    gap: 1rem;
    width: 80%;
    border-bottom: 1px solid hsl(159, 100%, 52%);
    padding-bottom: 1.5rem;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    z-index: 2;
}
.category-FE, .category-BE {
    z-index: 2;
    font-size: 2rem;
}
    .category-FE:hover, .category-BE:hover {

    }

#FE-active, #BE-active {
    cursor: pointer;
    color: #fff;
    text-decoration: underline;
    text-decoration-color: #00b159;
    text-decoration-thickness: 0.2rem;
    text-underline-offset: 0.3rem;
}
#FE-inactive, #BE-inactive {
    cursor: pointer;
    color: rgb(123, 123, 123);
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}
    #FE-inactive:hover, #BE-inactive:hover {
        color: rgb(190, 190, 190);
    }

.slideshow-active {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
}
.slideshow-inactive {
    display: none;
}

.FE_slideshow-item, .BE_slideshow-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
}
.FE_slideshow-text, .BE_slideshow-text {
    color: #fff;
}

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    font-size: 2.5rem;
    z-index: 2;
    padding-top: 1.5rem;
}

.btn-prev, .btn-next {
    color: #fff;
    cursor: pointer;
    transition: text-shadow 0.2s ease-in-out;
}
    .btn-prev:hover {
        text-shadow: 1px 0 #00b159, 1px 0 #00b159, 2px 0 #00b159, 2px 0 #00b159, 3px 0 #00b159, 3px 0 #00b1587d, 4px 0 #00b1587d, 5px 0 #00b15815;
    }
    .btn-next:hover {
        text-shadow: -1px 0 #00b159, -1px 0 #00b159, -2px 0 #00b159, -2px 0 #00b159, -3px 0 #00b159, -3px 0 #00b1587d, -4px 0 #00b1587d, -5px 0 #00b15815;
    }
