
.aboutme-wrapper {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
    padding-left: 13%;
    padding-right: 5%;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.aboutme {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 70%;
    width: 50%;
}

.toolkit {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 70%;
    width: 50%;
}
.about-header-wrapper {

}

.about-header {
    font-size: 4rem;
    font-weight: 600;
    color: #fff;
}

.about-visible {
    display: flex;
    border-bottom: solid;
    width: fit-content;
    transition: opacity 0.5s ease-in-out;
    -webkit-animation: tracking-in-contract 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both 0.5s;
    animation: tracking-in-contract 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both 0.5s;
}
    .aboutme-header {
        font-size: 4rem;
        font-weight: 600;
        color: #fff;
    }
    .about-text-wrapper {
        color: #fff;
        padding-left: 1rem;
        font-size: 4rem;
    }
    .dev-D {
        text-shadow: -1px 0 #00b159, -2px 0 #00b159, -3px 0 #00b159, -4px 0 #00b159, -5px 0 #00b159, -6px 0 #00b159, -7px 0 #00b159, -8px 0 #00b159;
    }

.toolkit-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.toolkit-header {
    display: flex;
    width: auto;
    height: auto;
    justify-content: center;
    align-items: center;
    padding-top: 5rem;
    font-size: 3rem;
    color: #00b159;
    text-shadow: -0.5px 0 #fff, -1px 0 #fff, -1.5px 0 #fff, -2px 0 #fff, -2.5px 0 #fff, -3px 0 #fff, -3.5px 0 #fff, -4px 0 #fff;
    -webkit-animation: tracking-in-contract 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    animation: tracking-in-contract 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

/* -- Slideshow -- */
.slideshow-options-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: fit-content;
    gap: 5rem;
    padding-top: 1rem;
}

.slideshow-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: fit-content;
}

.slideshow-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.slideshow-captions {
    display: flex;
    justify-content: center;
    height: auto;
    width: 100%;
}

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.slide-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: #fff;
}

.slide-icon {
    display: flex;
    fill: white;
    color: white;
    background-color: white;
    background-clip: content-box;
    mask-clip: content-box;
    justify-content: center;
    align-items: center;
    height: 3rem;
    width: 3rem;
}