.blog-wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    padding-left: 13%;
    padding-right: 5%;
    margin-bottom: 15rem;
    justify-content: center;
    align-content: center;
    align-items: flex-start;
}

#blog-B {
    text-shadow: -1px 0 #00b159, -2px 0 #00b159, -3px 0 #00b159, -3px 0 #00b159, -4px 0 #00b159, -5px 0 #00b159, -6px 0 #00b159, -7px 0 #00b159;
}

.blog-header {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: auto;
    width: 100%;
    font-size: 4rem;
    padding-bottom: 0.5rem;
    color: #fff;
    border-bottom: solid #fff;
}
    .blog-header::before {
        content: "Blog";
        font-size: 20rem;
        font-family: Roboto, sans-serif;
        color: rgba(255, 255, 255, 0.03);
        font-weight: 100;
        position: absolute;
        background: inherit;
        z-index: 0;
        top: -90%;
        left: 0;
        right: 0;
        bottom: 0;
    }

.blog-content {
    display: flex;
    width: 100%;
    height: 100%;
}

.blog-items-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    margin-top: 2rem;
}

.blog-post {
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 65%;
    background-color: #000;
    border-radius: 2rem;
    transition: transform 0.250s ease-in-out;
}
    .blog-post:hover {
        transform: scale(1.025);
    }

.blog-post-thumbnail {
    display: flex;
    width: 100%;
    height: 45%;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    background-color: #000fb1;
}

.blog-post-header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: auto;
    padding: 1rem;
    background-color: #5b5b5b;
}

.blog-post-title {
    display: flex;
    width: 100%;
    height: auto;
    font-size: 2.3rem;
    color: #fff;
}

.blog-post-tags {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: auto;
    margin-top: 1rem;
}

.blog-post-tag {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    padding: 0.5rem;
    margin-right: 0.5rem;
    font-size: 1.2rem;
    color: #000;
    background-color: rgb(255, 255, 255);
    border-radius: 1rem;
}