
.secondary-button {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 1rem 1.5rem;
    width: 100%;
    font-size: var(--font-size-xl);
    border: 1px solid var(--primary-color-green);
    color: var(--font-color-0)
    
}
    .secondary-button:hover {
        background-color: var(--primary-color-green);
        color: var(--font-hover-color-0);
    }