.primary-button {
    display: inline-block;
    position: relative;
    text-decoration: none;
    padding: 1rem 3rem;
    font-size: var(--font-size-2xl);
    color: var(--font-color-0);
    border: 1px solid var(--primary-color-green);
    transition: border-width 0.1s, opacity 0.5s;
    z-index: 2;
}
    .primary-button:hover {
        color: var(--font-hover-color-0);
        animation: pulse-green 1.5s ease-out 0.4s;
    }
    .primary-button::before {
        content: "";
        display: block;
        position: absolute;
        z-index: -2;
        top: 0;
        left: 0;
        width: 5%;
        height: 100%;
        background-color: var(--primary-color-green);
        transition: width 0.5s ease;
    }
    .primary-button:hover::before {
        width: 100%;
    }

.secondary-button {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 1rem 1.5rem;
    width: 75%;
    font-size: var(--font-size-xl);
    border: 1px solid var(--primary-color-green);
    color: var(--font-color-0)
    
}
    .secondary-button:hover {
        background-color: var(--primary-color-green);
        color: var(--font-hover-color-0);
    }