.main {
  display: flex;
  background: linear-gradient(176deg,rgb(18,24,27) 50%,rgb(32,39,55) 100%);
  background-attachment: fixed;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 200vh;
}

.blog {
  display: flex;
  background: linear-gradient(176deg,rgb(18,24,27) 50%,rgb(32,39,55) 100%);
  background-attachment: fixed;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 250vh;
}

.landing-wrapper {
  z-index: 1;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {

}

@media (prefers-reduced-motion) {

}

/* Mobile */
@media (max-width: 700px) {

}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  
}

@media (prefers-color-scheme: dark) {

}
