/*
#d4d4d4 - Light Gray
#707070 - Dark Gray
#1f1f1f - Black
#731010 - dark Red
#a80000 -  Red

#fff (white)
#000 (black)
#8BC34A (dark green)
#FFC107 (bright yellow)
#03A9F4 (bright blue)
#9C27B0 (purple)
*/         
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  display: flex;
  height: 70px;
  width: 100vw;
  background-color: #fff;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  align-content: center;
  transition: all .2s ease-in;
}

.nav-group {
  display: flex;
  flex-direction: row;
  background: none;
}

.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  text-decoration: none;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  color: #000;
  font-size: 1.3rem;
  font-weight: 300;
  -moz-transition: all 100ms ease-in;
  -o-transition: all 100ms ease-in;
  -webkit-transition: all 100ms ease-in;
  transition: all 100ms ease-in;
}

.nav-links-container {
  display: flex;
  flex-direction: row;
  background-color: transparent;
}
.nav-separator {
  display: flex;
  color: #000;
  font-size: 1.3rem;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}
#home, #about, #projects, #contact {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  font-weight: 300;
  -moz-transition: all 100ms ease-in;
  -o-transition: all 100ms ease-in;
  -webkit-transition: all 100ms ease-in;
  transition: all 100ms ease-in font-weight 0.4s ease-out;
}
  #home:hover {
    color: #8BC34A!important;
    transform: scale(1.05);
    text-shadow: 0 0 4px #8BC34A;
  }
  #about:hover {
    color: #FFC107!important;
    transform: scale(1.05);
    text-shadow: 0 0 4px #FFC107;
  }
  #projects:hover {
    color: #03A9F4!important;
    transform: scale(1.05);
    text-shadow: 0 0 4px #03A9F4;
  }
  #contact:hover {
    color: #c227de!important;
    transform: scale(1.05);
    text-shadow: 0 0 4px #c227de;
  }